@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-primary: var(--font-rokkitt);
  --font-secondary: var(--font-kumbh-sans);
  --breakpoint-xl: 1440px;
  --color-primary-red: #b50c0c;
  --color-primary-green: #055b33;
  --color-neutral: #eaeaea;
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: var(--font-rokkitt), Helvetica, sans-serif;
}

.slant-left {
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
}
.slant-right {
  clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
}
